*,
*::before,
*::after {
  box-sizing: border-box;
}
.hero {
  height: 500px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 25px;
  background-image: url("https://images.pexels.com/photos/617230/pexels-photo-617230.jpeg?cs=srgb&dl=pexels-artem-beliaikin-617230.jpg&fm=jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  box-shadow: 0 0 25px;
}
.body {
 background-color: #d1d3be;
}
#ready-to-eat,
#eaten {
  border: 2px solid black;
  margin: 20px;
  border-radius: 20px;
  padding: 5px;
  background-color: #eeeeee;
}
.eat-burger,
.add-burger {
  border: 2px solid black;
  border-radius: 50px;
  padding: 5px;
  box-shadow: 0 5px 10px;
  background-color: #c2ae7c;
  opacity: 0.7;
}
.eat-burger:hover,
.add-burger:hover {
  box-shadow: 0 0 0;
  opacity: 1;
  background-color: #858a4c;
}

li {
  margin: 10px;
  list-style-type: none;
  color: #eeeeee;
}

.main-head,
h2,
.create-form {
  text-align: center;
  margin-bottom: 20px;
}
.main-content {
  justify-content: center;
  margin-top: 10px;
  background-color: #617373;
  border-radius: 20px;
}

.row {
  /* border: 10px solid black; */
  border-radius: 20px;
}